# GAS / clasp related
# .clasp.json is needed for GitHub Actions
.claspignore

# Backups
백업/
Backup_*.js

# Temp / OS related
.DS_Store
Thumbs.db

# VS Code / IDE related
.vscode/
.history/

# Log files
*.log
