/* 경매일정 */
.section_auct_schedule{margin-top:10px;border:1px #ccc solid}
.section_auct_schedule .title{padding:12px 0 8px;font-weight:bold;text-align:center;font-size:14px;border-bottom:1px #ccc solid;background:#f9f9f9;}
.section_auct_schedule .list{height:150px;overflow-y:auto;overflow-x:hidden;padding:5px 0 5px;background:#fff}
.section_auct_schedule .list ul{overflow:hidden;padding-left:5px}
.section_auct_schedule .list li{float:left;display:inline;width:40%;padding:2px 0 2px 10px;font-size:12px;}

/* 즐겨쓰는 검색 */
.section_favor_srch{margin-top:10px;border:1px #ccc solid}
.section_favor_srch .title{padding:6px 0 4px;text-align:center;border-bottom:1px #ccc solid;background:#f9fbf9}
.section_favor_srch .title #aside_favor_srch_btn, .section_favor_srch .title #aside_recent_view_btn{display:inline-block;font-weight:bold;padding:6px 12px;font-size:14px;border:1px solid #bbb}
.section_favor_srch .title #aside_recent_view_btn{color:#999999;background-color:#EDEDED;}
.section_favor_srch .title #aside_favor_srch_btn{border-right:0;border-bottom:1px solid #F9FBF9}
.section_favor_srch .list{height:195px;overflow-y:auto;overflow-x:hidden;padding:5px 0 5px}
.section_favor_srch li{padding:2px 0 2px 12px;line-height:120%;font-size:12px;border-bottom:1px solid #f6f6f6;background:url(https://www.auction1.co.kr/img/icon/point_gray.gif) 3px 9px no-repeat}

/* 오프라인 강의일정 */
.section_ol_lect{margin-top:10px;border:1px #ccc solid}
.section_ol_lect .title{padding:12px 0 8px;font-weight:bold;text-align:center;font-size:14px;border-bottom:1px #ccc solid;background:#f9f9f9}
.section_ol_lect .list{height:195px;overflow-y:auto;overflow-x:hidden;padding:5px 0 5px;background:#fff}
.section_ol_lect .list ul{overflow:hidden;padding-left:5px}
.section_ol_lect .list li{padding:3px 0 3px 12px;line-height:130%;font-size:12px;border-bottom:1px solid #f6f6f6;background:url(https://www.auction1.co.kr/img/icon/point_gray.gif) 3px 9px no-repeat}

/* 대출 계산기 */
.section_loan_cal{margin-top:10px;border:1px #ccc solid}
.section_loan_cal .title{padding:9px 0 4px;font-weight:bold;text-align:center;border-bottom:1px #ccc solid;background:#f9f9f9}
.section_loan_cal .list ul{overflow:hidden;padding-left:5px}
.section_loan_cal .list li{padding:5px 0 0 10px}

/* 가맹점 리스트 */
.franchise_list_cal{margin-top:10px;border:1px #ccc solid}
.franchise_list_cal .title{padding:12px 0 8px;font-weight:bold;text-align:center;border-bottom:1px #ccc solid;background:#f9f9f9}
