
.btn_box_b{display:inline-block;padding:10px 10px;font-size:14px;font-weight:bold;border: 1px solid transparent;text-align: center;vertical-align: top;cursor: pointer;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius: 5px;line-height:100%}
.btn_box_s{display:inline-block;padding:6px 2px;width:60px;font-size:14px;border: 1px solid transparent;text-align: center;vertical-align: top;cursor: pointer;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius: 3px;line-height:100%}
.btn_box_ss{display:inline-block;padding:5px 2px;width:60px;font-size:12px;border: 1px solid transparent;text-align: center;vertical-align: top;cursor: pointer;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius: 3px;}
.btn_box_sss{display:inline-block;padding:2px;width:54px;font-size:11px;border: 1px solid transparent;text-align: center;vertical-align: middle;cursor: pointer;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius: 3px;}
.btn_box_ssss{display:inline-block;padding:1px;width:54px;font-size:11px;border: 1px solid transparent;text-align: center;vertical-align: middle;cursor: pointer;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius: 3px;}


.btn_box_button{display:inline-block;height:28px;padding:0px 2px;width:60px;font-size:12px;border: 1px solid transparent;text-align: center;vertical-align: top;cursor: pointer;line-height:100%}

.btn_box_b:hover,.btn_box:hover,.btn_box_s:hover,.btn_box_ss:hover,.btn_box_sss:hover,.btn_box_ssss:hover,.btn_box_button:hover{ 
	-webkit-box-shadow: inset 0 0px 75px rgba(0, 0, 0, .255);
  box-shadow: inset 0 0px 75px rgba(0, 0, 0, .255);
}
.btn_box_b:focus,.btn_box_b:active:focus,.btn_box_b.active:focus,.btn_box_b.focus,.btn_box_b:active.focus,.btn_box_b.active.focus,
.btn_box:focus,.btn_box:active:focus,.btn_box.active:focus,.btn_box.focus,.btn_box:active.focus,.btn_box.active.focus,
.btn_box_s:focus,.btn_box_s:active:focus,.btn_box_s.active:focus,.btn_box_s.focus,.btn_box_s:active.focus,.btn_box_s.active.focus,
.btn_box_ss:focus,.btn_box_ss:active:focus,.btn_box_ss.active:focus,.btn_box_ss.focus,.btn_box_ss:active.focus,.btn_box_ss.active.focus,
.btn_box_sss:focus,.btn_box_sss:active:focus,.btn_box_sss.active:focus,.btn_box_sss.focus,.btn_box_sss:active.focus,.btn_box_sss.active.focus,
.btn_box_ssss:focus,.btn_box_ssss:active:focus,.btn_box_ssss.active:focus,.btn_box_ssss.focus,.btn_box_ssss:active.focus,.btn_box_ssss.active.focus
.btn_box_button:focus,.btn_box_button:active:focus,.btn_box_button.active:focus,.btn_box_button.focus,.btn_box_button:active.focus,.btn_box_button.active.focus
{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn_cir{display:inline-block;width:40px;height:40px;text-align:center;background:#FFF;border: 1px solid #eee;vertical-align:center;}


.btn_white{background-color:#ffffff; border-color:#cccccc; color:#000}
.btn_yellow{background-color:#FCE606; border-color:#E0CA03; color:#000}
.btn_lightgray{background-color:#e7e7e7; border-color:#ddd; color:#000}
.btn_lightgray_w{background-color:#bbbbbb; border-color:#999999; color:#FFFFFF}
.btn_gray{background-color:#999999; border-color:#999999; color:#000}
.btn_gray_w{background-color:#999999; border-color:#999999; color:#FFFFFF}
.btn_darkgray{background-color:#777777; border-color:#777777; color:#FFFFFF}
.btn_darkgray_6{background-color:#666666; border-color:#666666; color:#FFFFFF}
.btn_darkgray_5{background-color:#555555; border-color:#555555; color:#FFFFFF}
.btn_lightblack{background-color:#444444; border-color:#1d1d1d; color:#FFFFFF}
.btn_green_n{background-color:#2cb400;border-color:#2cb400; color:#FFFFFF}
.btn_red_d{background-color:#f1685e;border-color:#f1685e; color:#FFFFFF}
.btn_brown{background-color:#B09B9B; border-color:#B09B9B; color:#FFFFFF}
.btn_darkbrown{background-color:#84571E; border-color:#84571E; color:#FFFFFF}

.btn_red{background-color:#CC171E; border-color:#CC171E; color:#FFFFFF}
.btn_transparent{border-color:none;color:#FFFFFF}
.btn_transparent_border{border-color:rgba(255,255,255,0.5);color:#FFFFFF}
.btn_transparent_border_g{border-color:rgba(255,255,255,0.3);color:#f0f0f0}
.btn_darkblue{background-color:#013157; border-color:#013157; color:#FFFFFF}
.btn_darkblue_1{background-color:#0056d2; border-color:#0056d2; color:#FFFFFF}
.btn_auction_blue{background-color:#0056d2; border-color:#0056d2; color:#FFFFFF}

.btn_lightblue{background-color:#DFEAFD;border-color:#D5E3FD; color:#000}

.btn_blue{background-color:#0056d2; border-color:#0056d2; color:#FFFFFF}
.btn_skyblue{background-color:#599bd8; border-color:#599bd8; color:#FFFFFF}
.btn_orange{background-color:#F78F1E;border-color:#F78F1E; color:#FFFFFF}

.circle_box_10{display:inline-block;width:14px;height:14px;border:1px solid #aaa;margin: 3px 3px -5px 0}
.circle_box_on{background:#FF8000;}

.radius_0{-moz-border-radius:0px;border-radius:0px;-webkit-border-radius: 0px; }
.radius_5{-moz-border-radius:5px;border-radius:5px;-webkit-border-radius: 5px; }
.radius_8{-moz-border-radius:8px;border-radius:8px;-webkit-border-radius: 8px; }
.radius_10{-moz-border-radius:10px;border-radius:10px;-webkit-border-radius: 10px; }
.radius_15{-moz-border-radius:15px;border-radius:15px;-webkit-border-radius: 15px; }
.radius_20{-moz-border-radius:20px;border-radius:20px;-webkit-border-radius: 20px; }
.radius_25{-moz-border-radius:25px;border-radius:25px;-webkit-border-radius: 25px; }
.radius_30{-moz-border-radius:30px;border-radius:30px;-webkit-border-radius: 30px; }
.radius_35{-moz-border-radius:35px;border-radius:35px;-webkit-border-radius: 35px; }
.radius_40{-moz-border-radius:40px;border-radius:40px;-webkit-border-radius: 40px; }
.radius_50{-moz-border-radius:50px;border-radius:50px;-webkit-border-radius: 50px; }


.radius_-10{-moz-border-radius:0px 10px 10px 0px;border-radius:0px 10px 10px 0px;-webkit-border-radius: 0px 10px 10px 0px}
.top_radius_10 {-moz-border-radius:10px 10px 0 0px;border-radius:10px 10px 0 0px;-webkit-border-radius: 10px 10px 0 0px;}
.bottom_radius_10{-moz-border-radius:0px 0px 10px 10px;border-radius:0px 0px 10px 10px;-webkit-border-radius: 0px 0px 10px 10px}