@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(https://www.auction1.co.kr/css/font/NanumGothic-Regular.eot);
    src: url(https://www.auction1.co.kr/css/font/NanumGothic-Regular.woff2) format('woff2'), url(https://www.auction1.co.kr/css/font/NanumGothic-Regular.woff) format('woff'), url(https://www.auction1.co.kr/css/font/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(https://www.auction1.co.kr/css/font/NanumGothic-Bold.eot);
    src: url(https://www.auction1.co.kr/css/font/NanumGothic-Bold.woff2) format('woff2'), url(https://www.auction1.co.kr/css/font/NanumGothic-Bold.woff) format('woff'), url(https://www.auction1.co.kr/css/font/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(https://www.auction1.co.kr/css/font/NanumGothic-ExtraBold.eot);
    src: url(https://www.auction1.co.kr/css/font/NanumGothic-ExtraBold.woff2) format('woff2'), url(https://www.auction1.co.kr/css/font/NanumGothic-ExtraBold.woff) format('woff'), url(https://www.auction1.co.kr/css/font/NanumGothic-ExtraBold.ttf) format('truetype');
}

html>/**/body{overflow-y:scroll}
/* 공동설정 사항 */
html {
    --auction-color-blue: #0056d2;
    --auction-color-darkgray: #cdcdcd;
    --auction-color-lightgray: #f2f2f2;
    --auciton-color-black: #353535;
    --auction-color-white: #FFF;
    --auction-textcolor-white: #F6F6F6;
    --auction-textcolor-red: #f10000;
  
    --auction-color-white: #fff;
  
    /* 법원별검색, 소재지 검색 검색 옵션 선택 부분 관련 색상 설정 */
    --lb-background-gray: #f8f8f8;
    --lb-background-blue: #0056d2;
    --lb-border-color: #ddd;  
  }
  
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,button,select{margin:0;padding:0}

body,input,textarea,select,button,table{font-family:'Nanum Gothic','맑은 고딕','돋움', san-serif, IcoMoon,dashicons, FontAwesome !important;font-size:13px}
/*body,input,textarea,select,button,table{font-family: 'Nanum Gothic' !important;	font-family: '나눔고딕' !important;	font-family:NanumGothic !important; font-family:'나눔고딕','맑은 고딕',NanumGothic,'돋움',AppleGothic,sans-serif;font-size:13px}*/
body{color:#333}
img,fieldset{border:0;vertical-align:top;}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;color:#333}
a:hover,a:active,a:focus{text-decoration:none;color:#005aa6}
h5{Dotum,AppleGothic,sans-serif;font-size:13px;letter-spacing:-1px;color:#585858}
h5 a{color:#585858}

/* Layout */
#wrap{width:1200px;margin:0 auto}
.wrap{width:1200px;margin:0 auto}
#header{width:100%;height:150px;margin:0 auto;}
.header{width:1200px;margin:0 auto}
#container{width:100%;background-image:url(https://www.auction1.co.kr/img/common/snb_bg.gif);background-position:left top; background-repeat:repeat-y;background-size:220px;clear:both;padding-bottom:50px}
#container:after{display:block;clear:both;content:''}
#snb{float:left;width:220px;}
#content{float:right;width:950px;margin-bottom:50px}
#footer{clear:both;width:100%;padding:0 0 20px;border-top:1px solid #ccc;color:#333;margin:0 auto}
.width_guide{100%}
/* PopUp */
#pop_wrap{width:100%;height:100%;margin:0 auto}

.blind{position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.clear{clear:both}
.hid_img{opacity:0.2;filter:alpha(opacity=20)}

/* 전체메뉴 보기 */
.section_full_menu{display:none}
.section_full_menu .full_menu_list{display:block;width:100%;position:absolute;top:150px; z-index:999;background:#fff;border-bottom:2px #1668D8 solid;_margin-left:2px;box-shadow: 0px 10px 10px 0px rgba(0,0,0,.2);}
.section_full_menu .full_menu_list .category{float:left;padding:20px 5px 15px 25px}
.section_full_menu .full_menu_list .category dt{font-weight:bold;padding-bottom:5px}
.section_full_menu .full_menu_list .category dd{padding-top:5px}
.section_full_menu .full_menu_list .full_menu_icon td{text-align:center;}
.section_full_menu .full_menu_list .full_menu_icon td:hover{background:#F6f6f6;cursor:pointer;}
.section_full_menu .full_menu_ifr{display:block;width:1000px;height:300px;position:absolute;z-index:998}
.section_full_menu .full_menu_ifr .ifr{width:1000px;height:300px;filter:alpha(opacity=0);border:none}
#full_menu_mask{display:none;position:fixed;left:0;top:150px;z-index:100;background-color:rgba(0, 0, 0, 0.6);display:none;width:100%;height:100%}


.lnb {display:block;}
.lnb ul {list-style-type:none;margin:0;padding: display: block;}
.lnb li {list-style-type:none;margin-right:12px;padding:0;display: inline-block;position: relative;_float:left}

.lnb li a {display: inline-block;width:75px;padding: 13px 0px 15px 0px;text-align:center;font-size:15px}
.lnb li:first-child a {display: inline-block;width:75px;padding: 13px 0px 15px 0px;text-align:left}
.lnb li:first-child a { background: none; }
.lnb li a:hover{color:#1668D8;}
.lnb li:hover a {color: #1668D8;}
.lnb li a.fc_orange{color:#FFA101;}

.lnb li:hover ul.dropdown { display: block;}
.lnb li ul.dropdown {position: absolute;display: none;width: 140px;background: #FFF;padding-top: 0;z-index:10;border:1px solid #888;}
.lnb li ul.dropdown.lnb_width{width: 280px;}
.lnb li ul.dropdown dl{position: relative;top:-9px;left:-170px;margin:0px 200px;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:9px solid #000;}
.lnb li ul.dropdown li {display:block;list-style-type: none; margin:0px;float:left;}
.lnb li ul.dropdown li.dropdown_title{width:260px;padding:10px;border-top:1px solid #ddd;color:#000;font-weight:900}
.lnb li ul.dropdown li.dropdown_title span{border-left:3px solid #F36D08;padding-left:6px}
.lnb li ul.dropdown li a {padding:9px 0 10px 10px;font-size: 12px;width:130px;color: #fff;display: block;font-weight: 600;text-align:left;}
.lnb li ul.dropdown li a {white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;-moz-binding:url('ellipsis.xml#ellipsis')}
.lnb li ul.dropdown li:last-child a { border-bottom: none; }

.lnb li ul.dropdown li a{ background: #fff;color:#666}
.lnb li ul.dropdown li:hover a { background: #DFEAFD;color:#000 }


/* pagn */
.pagn{padding:18px 0;text-align:center}
.pagn a,.pagn strong{display:inline-block;position:relative;padding:4px 8px 4px 7px;border:1px solid #fff;color:#000;font:bold 13px/normal Verdana;text-decoration:none}
.pagn strong{color:#f23219}
.pagn .pre{margin-right:4px;padding:6px 6px 5px 16px;_padding-bottom:6px;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 5px 8px}
.pagn .next{margin-left:4px;padding:6px 16px 5px 6px;_padding-bottom:6px;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 100% 8px}
.pagn .pre_end{margin-right:4px;padding:6px 6px 5px 16px;_padding-bottom:6px;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 2px -52px}
.pagn .next_end{margin-left:4px;*margin-left:0;padding:6px 16px 5px 6px;_padding-bottom:6px;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 100% -52px}
.pagn .pre,.pagn .next,.pagn .pre_end,.pagn .next_end{position:relative;_top:2px;color:#ccc;font-family:'굴림',Gulim;font-size:12px;font-weight:normal}
.pagn a:hover.pre{border:1px solid #e9e9e9;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 5px -22px}
.pagn a:hover.next{border:1px solid #e9e9e9;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 100% -22px}
.pagn a:hover.pre_end{border:1px solid #e9e9e9;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 2px -82px}
.pagn a:hover.next_end{border:1px solid #e9e9e9;background:url(https://www.auction1.co.kr/img/icon/bu_srch.gif) no-repeat 100% -82px}
.pagn a.pre,.pagn a.next,.pagn a.pre_end,.pagn a.next_end{color:#565656}
.pagn a:hover{border:1px solid #e9e9e9;background-color:#fff;color:#e85028;text-decoration:none}

/* 기본 목록형 table */
.tbl_list{width:100%;border-top:1px solid #ddd;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_list th, .tbl_list td{border-bottom:1px solid #ddd;padding:5px 5px 0 5px;font-weight:normal;height:20px;text-align:left}
.tbl_list th{background-color:#f5f5f5;text-align:center}
.tbl_list th.pad5, .tbl_list td.pad5{padding:5px 0 3px 0}
.tbl_list th.pad10, .tbl_list td.pad10{padding:10px 0 7px 0}
.tbl_list .bold{font-weight:bold}
.tbl_list .no{font-family:Tahoma;padding-top:0}
.tbl_list .money{font-family:Tahoma;padding-top:0;text-align:right}

/* 기본 목록형 table border-top */
.tbl_list_t{width:100%;border-bottom:2px solid #ccc;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_list_t th, .tbl_list_t td{border-top:1px solid #ccc;padding:5px 5px 0 5px;font-weight:normal;height:20px;text-align:left}
.tbl_list_t th{background-color:#f5f5f5;text-align:center}
.tbl_list_t th.pad5, .tbl_list_t td.pad5{padding:5px 0 3px 0}
.tbl_list_t th.pad10, .tbl_list_t td.pad10{padding:10px 0 7px 0}
.tbl_list_t .bold{font-weight:bold}
.tbl_list_t .no{font-family:Tahoma;padding-top:0}
.tbl_list_t .money{font-family:Tahoma;padding-top:0;text-align:right}

/* 기본 격자형 table */
.tbl_grid{width:100%;border-top:1px solid #ddd;border-left:1px solid #ddd;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_grid th, .tbl_grid td{border-bottom:1px solid #ddd;border-right:1px solid #ddd;padding:5px 5px;font-weight:normal;min-height:20px;text-align:left;word-break:break-all}
.tbl_grid th{background-color:#f9f9f9;text-align:center}
.tbl_grid th.pad5, .tbl_grid td.pad5{padding:5px 0 3px 0}
.tbl_grid th.pad10, .tbl_grid td.pad10{padding:10px 0 7px 0}
.tbl_grid .bold{font-weight:bold}
.tbl_grid .no{font-family:Tahoma;padding-top:0}
.tbl_grid .money{font-family:Tahoma;padding-top:0;text-align:right}
.tbl_grid tr{display:table-row !important}
.tbl_grid td{display:table-cell !important}
.tbl_grid .top{border-top:1px solid #333;}
.tbl_grid .btm{border-bottom:1px solid #333;}

/*table-세로선이 양쪽 사이드만 열림*/
.tbl_sopen{width:100%;border-top:1px solid #ddd;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_sopen th, .tbl_sopen td{border-bottom:1px solid #d5d5d5;border-right:1px solid #f0f0f0;padding:5px 5px 3px 5px;font-weight:normal;height:20px;text-align:left}
.tbl_sopen th{background-color:#f9f9f9;text-align:center}
.tbl_sopen .no{font-family:Tahoma}
.tbl_sopen .first{border-left:1px solid #ddd}
.tbl_sopen .last{border-right:none}
.tbl_sopen .bold{font-weight:bold}
.tbl_sopen .no{font-family:Tahoma;padding-top:0}
.tbl_sopen .money{font-family:Tahoma;padding-top:0;text-align:right}

/* 좁은 목록형 table */
.tbl_nlist{width:100%;border-top:1px solid #ddd;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_nlist th, .tbl_nlist td{border-bottom:1px solid #f8f8f8;padding:5px 5px 0 5px;font-weight:normal;text-align:left}
.tbl_nlist th{background-color:#f9f9f9;text-align:center}
.tbl_nlist th.pad5, .tbl_nlist td.pad5{padding:5px 0 3px 0}
.tbl_nlist th.pad10, .tbl_nlist td.pad10{padding:10px 0 7px 0}
.tbl_nlist th.small, .tbl_nlist td.small{font-size:11px}
.tbl_nlist .bold{font-weight:bold}
.tbl_nlist .no{font-family:Tahoma;padding-top:0}
.tbl_nlist .money{font-family:Tahoma;padding-top:0;text-align:right}

/* table 속(cell) table */
.tbl_cell{width:100%;border-top:1px solid #f8f8f8;border-left:1px solid #f8f8f8;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_cell th, .tbl_cell td{border-bottom:1px solid #f8f8f8;border-right:1px solid #f8f8f8;padding:5px 5px 0 5px !important;font-weight:normal;text-align:left;height:15px !important}
.tbl_cell th{background-color:#f9f9f9;text-align:center}
.tbl_cell th.small, .tbl_cell td.small{font-size:11px}
.tbl_cell .last{border-right:none}
.tbl_cell .bold{font-weight:bold}
.tbl_cell .no{font-family:Tahoma;padding-top:0}
.tbl_cell .money{font-family:Tahoma;padding-top:0;text-align:right}

/* 선없는 table */
.tbl_noline{width:100%;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_noline th, .tbl_noline td{padding:5px 5px 0 5px;font-weight:normal;height:20px;word-break:break-all;}
.tbl_noline th{text-align:center}
.tbl_noline .bold{font-weight:bold}
.tbl_noline .no{font-family:Tahoma;padding-top:0}
.tbl_noline .money{font-family:Tahoma;padding-top:0;text-align:right}


/* 기본 격자형 table */
.box_tbl{width:100%;border:1px solid #FDDBB5;padding:0;border-spacing:0;border-collapse:collapse;background-color:#FEF7EF;}
.box_tbl th, .box_tbl td{padding:3px 5px 0 5px;font-weight:normal;height:35px;text-align:left}
.box_tbl th{text-align:center}
.box_tbl th.pad5, .box_tbl td.pad5{padding:5px 0 3px 0}
.box_tbl th.pad10, .box_tbl td.pad10{padding:10px 0 7px 0}
.box_tbl .bold{font-weight:bold}
.box_tbl .no{font-family:Tahoma}
.box_tbl .money{font-family:Tahoma;text-align:right}

/*기본 txtbox , textarea*/
/*.tx30,.tx50,.tx70,.tx75,.tx80,.tx100,.tx120,.tx150,.tx200,.tx250,.tx300,.tx350,.tx400,.tx450,.tx500,.tx550,.tx600,.tx650,.tx700,.tx800,.tx900,.tx_date{*margin-top:1px;padding:3px 0 0 4px;border:1px solid #9a9a9a;border-color:#9a9a9a #d8d8d8 #d8d8d8 #9a9a9a;color:#333;font-size:12px;height:16px}
/*ta100,.ta150,.ta200,.ta300,.ta350,.ta400,.ta450,.ta500,.ta550,.ta600,.ta650,.ta700,.ta750,.ta800,.ta900{*margin-top:1px;padding:3px 0 0 4px;border:1px solid #9a9a9a;border-color:#9a9a9a #d8d8d8 #d8d8d8 #9a9a9a;color:#333;font-size:12px;line-height:18px}*/
.tx30{width:30px}
.tx40{width:40px}
.tx50{width:50px}
.tx70{width:70px}
.tx75{width:75px}
.tx80{width:80px}
.tx90{width:90px}
.tx100{width:100px}
.tx120{width:120px}
.tx150{width:150px}
.tx173{width:173px}
.tx200{width:200px}
.tx250{width:250px}
.tx300{width:300px}
.tx350{width:350px}
.tx400{width:400px}
.tx450{width:450px}
.tx500{width:500px}
.tx550{width:550px}
.tx600{width:600px}
.tx650{width:650px}
.tx700{width:700px}
.tx800{width:800px}
.tx900{width:900px}
.tx_date{width:78px;font-size:12px}

.ta100{width:100px}
.ta150{width:150px}
.ta200{width:200px}
.ta300{width:300px}
.ta350{width:350px}
.ta400{width:400px}
.ta450{width:450px}
.ta500{width:500px}
.ta550{width:550px}
.ta600{width:600px}
.ta650{width:650px}
.ta700{width:700px}
.ta750{width:750px}
.ta800{width:800px}
.ta900{width:900px}
.readonly{background-color:#eee}
.eng{ime-mode:disabled}
.han{ime-mode:active}
.ieng{ime-mode:inactive}

textarea:-ms-input-placeholder {color:#bbb} 

/*검색결과 없음*/
/*.no_result{text-align:center;font-weight:bold;padding:50px 0 50px;border-bottom:1px solid #ddd}*/
.no_result {text-align:center;padding:100px 0 97px 0;border-bottom:1px solid #d5d5d5}
.no_result_s {text-align:center;padding:30px;border-bottom:1px solid #d5d5d5}
.no_result span,.no_result_s span{background:url(https://www.auction1.co.kr/img/icon/ex_mark.gif) no-repeat 0 0;font-size:12px;font-weight:bold;color:#555;padding-left:17px;padding-top:1px}

/*문자열 색상*/
.blue{color:#0056d2}
.yellow{color:#fff000}
.darkblue{color:#002aff}
.ltblue{color:#2f7cb3}
.ltblue_white{color:#d4f5ff}
.ltblue a{color:#2f7cb3}
.purpleblue{color:#2b5999}
.orange{color:#ff6000}
.orange a{color:#ff6000}
.yellow{color:#fff000}
.white{color:#fff}
.green{color:#339933}
.gray{color:#8b8b8b}
.darkgray{color:#666}
.black{color:#000000}
.red{color:#ff0000}
.red a{color:#ff0000}
.brown{color:#b24c25}
.bold{font-weight:bold}
.bold_900{font-weight:900}
.no{font-family:Tahoma}
.money{font-family:Tahoma;text-align:right}
.underline{text-decoration:underline}
.itemNoColor{color:blue}

/*문자열 크기*/
.f8{font-size:8px}
.f9{font-size:9px}
.f10{font-size:10px}
.f11{font-size:11px}
.f13{font-size:13px}
.f14{font-size:14px}
.f15{font-size:15px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:22px}
.f24{font-size:24px}
.f30{font-size:30px}


.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh25{line-height:25px}
.lh30{line-height:30px}


.lh100{line-height:100%}
.lh120{line-height:120%}
.lh140{line-height:140%}
.lh150{line-height:150%}
.lh160{line-height:160%}
.lh180{line-height:180%}
.lh200{line-height:200%}

/*문자열 정렬*/
.left{text-align:left !important}
.right{text-align:right !important}
.center{text-align:center !important}
.middle{vertical-align:middle !important}
.del_str{text-decoration:line-through;color:#ccc}

.f_naum{font-family: 'Nanum Gothic' !important;	font-style: normal  !important;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,Sans-serif;}

/*div scrollbar*/
/*.scroll_w{scrollbar-face-color:#ffffff;scrollbar-track-color:#f4f4f4;scrollbar-arrow-color:#909090;scrollbar-shadow-color:#ffffff;scrollbar-highlight-color:#ffffff;scrollbar-darkshadow-color:#d7d7d7}*/

.scroll_w{
scrollbar-3dlight-color:#FFFFFF;
scrollbar-arrow-color:#666;
scrollbar-track-color:#eee;
scrollbar-darkshadow-color:#eee;
scrollbar-face-color:#FFFFFF;
scrollbar-highlight-color:#999;
scrollbar-shadow-color:#999
}

.span_block{display:inline-block;padding:2px 4px}
.hand{cursor:pointer}
.ellipsis{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;-moz-binding:url('ellipsis.xml#ellipsis')}
.menu_title{text-align:center;font-weight:bold}
.hide{display:none}
.show{display:block}
.prt_after{page-break-before: always}

.ls_1{letter-spacing:-1px} 
.ls_2{letter-spacing:-2px} 

.fleft{float:left}
.fright{float:right}

/*background*/
.bg_white{background:#fff}
.bg_yellow{background:#fff7a2}
.bg_blue{background:#f7f7ff}
.bg_red{background:#fff7f7}
.bg_green{background:#e2fac9}
.bg_green_white{background:#f6ffed}
.bg_green_blue_white{background:#f4fbfd}
.bg_blue_white{background:#edf0f5}
.bg_gray{background:#f9f9f9}
.bg_darkgray{background:#777777}
.bg_orange{background:#FFEBBD}
.bg_orange_w{background:#FFF4DD}

/* 옥션원 만의 스타일 시작*/
.gnb_menu{width:100%;height:25px;}
.gnb_menu ul{width:1200px;margin:0 auto}
.gnb_menu li{padding:5px 5px;}
.gnb_menu li.home{float:left;}
.gnb_menu li.right_menu{float:right;color:#898989;cursor:pointer}

.header .top_logo{height:70px;}
.header .top_logo .top_left{float:left;width:33%;padding-top:20px}
.header .top_logo .top_center{float:left;width:33%;padding-top:25px;text-align:center;font-size: 13px;font-weight: normal;}
.header .top_logo .top_right{float:right;padding-top:10px;}
.header .lnb{height:39px;padding-left:5px;}
/*.header .lnb{height:39px;background:#F79321;padding-left:5px;}*/



/*2023.01.18수정*/
.my_menu {background: #fff !important; }
.header .lnb{height:45px !important;padding-left:5px;}
.my_menu { background: #fff !important; color: #fff !important; }
.my_menu a span{ color:#000 !important; }
.my_menu a span:hover {background: #ecf8ff; border-radius: 5px;  padding: 10px 10px;
font-weight: bold; color: #004dbc !important;}
.width_guide {position: sticky; position: -webkit-sticky; top: 0; z-index: 11; background-color: #fff; border-bottom: 1px solid #eee;}




/* 모바일 전체메뉴 */
#mask {position:fixed;left:0;top:0;z-index:9000;background-color:#000;display:none;width:100%;height:100%}
#boxes .window {position:fixed;left:0;top:0;width:500px;height:360px;display:none;z-index:9999;padding:0px;margin-left:-250px}
#boxes #dialog {width:500px;height:360px;padding:0px;background-color:#ffffff;}



.header .top_notice{margin-top:5px}
.header .top_notice .notice_left{float:left;width:600px;padding:5px 0 5px 80px;background:url(https://www.auction1.co.kr/img/common/top_hotnotice.gif) no-repeat 5px 0}
.header .top_notice .notice_right{float:right;padding:5px}
.header .top_mypage{margin:2px 0;height:26px;padding:0px 10px;border:1px solid #CCC;background:#eee}
.header .top_mypage li{float:left;padding:4px 15px;font-size:12px;font-weight:800;}
.header .top_mypage li a span{color:#888}
.header .top_mypage .mypage_menu{float:left;width:625px;padding-left:25px}
.header .top_mypage .mypage_go{float:left}
.header .top_mypage .mypage_go_right{float:right;padding-right:25px}



#footer .copy_menu{background:#fff;padding:10px 0 10px 0px;color:#ddd;font-size:9px}
#footer .copy_menu a{color:#666;font-size:11px}
#footer .copy_left{float:left;width:25%;padding:10px 0 0;text-align:left;line-height:27px;}
#footer .copy_center{float:left;padding:10px 0 0 40px;font-size:11px;font-family:Dotum,'돋움',Dotum,AppleGothic,Sans-serif;text-align:center;line-height:18px}
#footer .copy_right{float:right;width:20%;padding:15px 5px 0;text-align:right}

.body_back{}

.point_jum{background:url('https://www.auction1.co.kr/img/icon/point_gray.gif') 0 7px no-repeat;}

/* 로그인 박스 */
.section_login{width:202px;padding:8px;border:1px #ccc solid;background:#fbfbfb}
.section_login .txt{float:left;padding:0 3px}
.section_login .txt li{padding:0 0 3px}
.section_login .chk_save{clear:both;padding:5px 0 5px 3px;_padding:0 0 5px 3px}

.section_login .member_join{clear:both;font-size:12px;letter-spacing:-1px}
.section_login .member_ment{float:left;padding:10px 0px 0px 3px;width:110px;line-height:18px;vertical-align:bottom; font-size: 13px}
.section_login .member_logout{float:right;padding:8px 5px 5px}
.section_login .member_link{padding:5px 5px 10px}

.section_login_on label dd{float:left;padding-right:5px}

/* 섹션 타이틀 or 기타타이틀 / 더보기 버튼 */
.title_img{height:22px;padding-top:8px;border-bottom:1px solid #ccc;text-align:right}
.title_img_noline{height:22px;padding-top:8px;text-align:right;}
.more_btn{margin:8px 10px 0 0;padding-right:6px;color:#999;background:url(https://www.auction1.co.kr/img/icon/arrow_gray.gif) no-repeat 40px 5px}
.more_btn_noline{margin:5px 10px;padding-right:6px;color:#999;background:url(https://www.auction1.co.kr/img/icon/arrow_gray.gif) no-repeat 40px 5px}

/* 각 메뉴 가이드 페이지*/
.main_guide_tbl{padding:5px 30px 15px 30px;border:1px solid #E2E2E2;text-align:center}
.main_guide_tbl .guide_ment{width:200px;height:180px;padding-top:20px;line-height:130%;font-size:12px;color:#666;letter-spacing:-1px;margin:20px 0 auto}
.main_guide_tbl .guide_ment_s{width:200px;height:110px;padding-top:10px;line-height:130%;font-size:12px;color:#666;letter-spacing:-1px}
.main_guide_tbl .guide_line{width:85px;background:url(https://www.auction1.co.kr/img/icon/line_height_gray.gif) no-repeat 40px 20px}

.register_fm .tbl_grid{background:#f4f4f4}
.register_fm .tbl_grid th span{padding-left:10px;background:url(https://www.auction1.co.kr/img/icon/point_gray.gif) 0 4px no-repeat}
.register_fm .tbl_grid td{padding:5px 3px}
/*.register_fm .tbl_grid td span{padding:0px 5px 0 15px}*/
.register_fm .tbl_grid li{display:inline;float:left;border-left:1px solid #ccc;}
.register_fm .tbl_grid li:first-child{border-left:0px;}
.register_fm .tbl_grid .cur_law{font-weight:bold;color:#2a62c5}
.register_fm .tbl_grid .on{font-weight:bold;color:#2a62c5}
.register_list{border-top:1px solid #aaa}
.register_fm_btn{text-align:center;padding:20px 10px}

.tab_page_menu{height:52px;border-top:1px solid #ddd;border-bottom:1px solid #666;background:#f9f9fa;margin-bottom:30px}
.tab_page_menu ul{_position:absolute;}
.tab_page_menu li{float:left;padding:19px 20px 25px 20px;min-width:120px;text-align:center}
.ptitle{font-weight:bold;background:url('https://www.auction1.co.kr/img/icon/icon_boxcolor2.gif') 0 5px no-repeat;margin:30px 0 5px 10px;padding:0 0 0 15px;color:#F36D08;font-size:16px}
.ptitle_line{height:1px;margin:5px 5px 0 5px;background:url('https://www.auction1.co.kr/img/icon/line_dotted_gray.gif') 0 0}
.ast_type{margin:20px 0 10px;background:url('https://www.auction1.co.kr/img/icon/point_gray.gif') 0 10px no-repeat;padding-left:10px}
.comment{padding-left:10px}


/* 주소 li on 이벤트  지법 width:7.42%, width:7%*/
.content_addr{clear:both;border-top:1px solid #eee;border-bottom:1px solid #eee;height:46px;background:#f8f8f8}
.content_addr ul{_position:absolute;}
.content_addr ul li{float:left;text-align:center;width:5.77%;background:#efefef;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-right:1px solid #ddd;margin-bottom:10px;}
.content_addr ul li:first-child{border-left:1px solid #ddd;width:5.79%;}
.content_addr ul li.on{font-weight:bold;color:#000;background:#fff;border-bottom:1px solid #fff}
.content_addr ul li span{display: block;width:100%;height:30px;padding-top:15px;text-align:center}
.content_addr ul li.on:first-child{border-left:1px solid #ddd;}
.content_addr ul li a{display: block;width:100%;height:30px;padding-top:15px;text-align:center}
.content_addr ul li.on a{font-weight:bold;color:#000}


.content_addr_list{padding:5px 0 5px 10px;border-top:1px solid #eee}
.content_addr_list .content_addr_title{background:url(https://www.auction1.co.kr/img/icon/point_gray.gif) 0 5px no-repeat;padding-left:10px}
.content_addr_list li{float:left;padding:10px;width:140px;color:gray}

.content_addr_sub{background:#f8f8f8;border:1px solid #dfdfdf;border-top:none;padding:0 0 5px;_padding:10px 0 5px}
.content_addr_sub li{float:left;width:110px;padding:3px 0 4px 18px;background:url(https://www.auction1.co.kr/img/icon/point_gray.gif) 10px 10px no-repeat;}
.content_addr_sub li.on{background:url(https://www.auction1.co.kr/img/icon/check_orange.gif) 7px 6px no-repeat;}
.content_addr_sub li.on a{font-weight:bold;color:#ff4e00;}

.tbl_fmSrch{width:100%;border:1px solid #ccc;padding:0;border-spacing:0;border-collapse:collapse}
.tbl_fmSrch th, .tbl_fmSrch td{border-bottom:1px solid #F7F3EC;padding:5px 5px 5px 0px;height:20px;text-align:left;background-color:#FaFaFa;}
.tbl_fmSrch tr:last-child th, .tbl_fmSrch tr:last-child td{border-bottom:1px solid #ccc;}
.tbl_fmSrch th{text-align:center;padding:5px 1px 3px 5px;}
.tbl_fmSrch .f_normal{font-weight:normal}

/* 옥션원 만의 스타일 끝*/
.content_tab{clear:both;border-left:1px solid #eee;border-top:1px solid #eee;border-bottom:1px solid #888;height:40px;background:#f8f8f8}
.content_tab ul{_position:absolute;}
.content_tab ul li{float:left;width:47px;height:45px;text-align:center;padding-top:15px;background:url(https://www.auction1.co.kr/img/btn/box_back_grayblue.gif) right -40px no-repeat}
.content_tab ul li.on{background:url(https://www.auction1.co.kr/img/btn/box_back_on.gif) center -10px no-repeat;font-weight:bold;color:#4c4f54}
.content_tab ul li.on a{font-weight:bold;color:#4c4f54}

/*경매파일리스트 ON_OFF*/
/*.view_btn li{font-size:11px;width:83px;margin:1px;padding:3px 5px 0 5px;letter-spacing:-1px;*padding:3px 0 0 0;*width:90px;*text-align:center}*/
.view_btn li{text-align:center;width:83px;font-size:11px;letter-spacing:-1px;margin:1px;padding:3px 1px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius: 5px;cursor:pointer}
.view_btn .btn_cls{border:1px solid #D0DAEE;background:#E1E7F4;}
.view_btn .btn_cls:hover{background:#11406F;color:#FCFF00;border:1px solid #124578}
.view_btn .btn_cls_on{background:#11406F;color:#FFFFFF;border:1px solid #124578}
.view_btn .btn_cls_over{background:#11406F;color:#fcff00;border:1px solid #124578}

.p_type{background:url(https://www.auction1.co.kr/img/icon/logo_icon.png) no-repeat 5px 10px;padding-left:22px;color:#000; background-size: 15px; height: 28px; padding-top: -2px; line-height: 28px}
#auction_container .p_title .p_type{line-height: 28px}

.more_arrow{padding-right:7px;background:url(https://www.auction1.co.kr/img/icon/arrow_gray.gif) no-repeat right 5px}

/*팝업 타이틀 색상*/
.pop_open_title{position:fixed;top:0px;left:0px;width:100%;background-color:#2850A7;color:#FFF}
.pop_open_title td{padding-left:10px;padding-right:10px;font-size:20px;font-weight:900}
.pop_open_title td span{font-size:14px;font-weight:bold}
.pop_open_title_back{height:55px}


/* screen 샘플- 예상배당표*/
.analy_screen{margin-right:10px;position:absolute;top:0px;left:0px;_left:_0px;_padding-left:0px;width:100%;_width:95px;height:35px;}
.analy_screen .screen_ment{background-color:#1c3b74;opacity:0.9;filter:alpha(opacity=90);border:1px solid #ddd;padding:15px 20px;}

	@media all and (max-width: 1200px) { 
	.section_full_menu .full_menu_list{width:1200px;}
	#mask{width:1200px}
	#header{width:1200px;height:150px;}
	.width_guide{width:1200px}
	}
	
/* 맨위로 이동 */
#movetopbt_1{position:fixed;display:block;z-index:10;bottom: 50px; right:40px;width:44px;height:44px;background:url(https://www.auction1.co.kr/img/icon/top_1.png) 0 0 no-repeat;cursor:pointer}
#movetopbt_1:hover{background:url(https://www.auction1.co.kr/img/icon/top_1_on.png) 0 0 no-repeat;}

#movetopbt_2{position:fixed;display:block;z-index:10;bottom: 10px; right:0;width:42px;height:42px;margin-right: 20px;background:url(https://www.auction1.co.kr/img/icon/top_2.png) 0 0 no-repeat;cursor:pointer}
#movetopbt_2:hover{background:url(https://www.auction1.co.kr/img/icon/top_2_on.png) 0 0 no-repeat;}

/* 체크박스 라인 정렬 */
.chack_line label{float:left}
.chack_line label.chack_ment{padding:5px 0 0 15px}
.chack_line label dt, .register_fm label dd{float:left}
.chack_line label dt{padding:4px 2px 0px 5px;*padding:0}
.chack_line label dd{padding:4px 0px 0px 0;*padding-top:4px}
