/* input css 설정*/
input[type="text"], input[type="date"], input[type="number"], input[type="password"], input[type="file"],textarea,select,input[type="radio"],input[type="radio"]:not(old):checked,input[type="checkbox"],input[type="checkbox"]:not(old):checked {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
	}

input[type="text"],input[type="date"], input[type="number"], input[type="password"], input[type="file"],textarea,select {-webkit-border-radius: 0;	.background : none;	background : none\0;	background : none\0/;}
/* input css 설정*/



/* 라디오 버튼 css 라디오, 선택라디오*/	
input[type="radio"],input[type="radio"]:not(old):checked{-webkit-border-radius: 7px;border-radius:7px;-webkit-border-radius: 7px;	width:14px;	height:14px;	margin-right:3px;margin-top:2px	}
input[type="radio"] {.background : #DBE3F7;	background : #DBE3F7;	border:solid 1px #CBC1B8;}
input[type="radio"]:not(old):checked{.background : #A9C1FC;	background : #A9C1FC;	border:solid 1px #888;	background-image:url(https://www.auction1.co.kr/img/icon/icon_radio.png); background-position: 100% 50% ; background-repeat:no-repeat;}
input[type="radio"]:disabled{background-color : #dddddd;}


/* 체크박스 css 체크, 선택체크*/
input[type="checkbox"],input[type="checkbox"]:not(old):checked{	-webkit-border-radius: 0px;		width:14px;	height:14px;	margin-right:3px;vertical-align:bottom;}
input[type="checkbox"] {background-color : #DBE3F7;	.background-color : #DBE3F7;  border:solid 1px #CBC1B8;}
input[type="checkbox"]:not(old):checked {.background-color : #3F6FD1;	background-color : #3F6FD1;	border:solid 1px #B37D66;	background-image:url(https://www.auction1.co.kr/img/icon/icon_checkbox.png); background-position: 100% 50% ; background-repeat:no-repeat;}
input[type="checkbox"]:disabled{.background-color : #dddddd;	background-color : #dddddd;	border:solid 1px #CBC1B8;	}


/* input css*/
input[type="text"], input[type="password"], input[type="number"]{height:16px;padding:5px 0 5px 5px;border:solid 1px #ACC0C6;display:inline-block;background-color:#FEFEFE}

input[type="file"]{height:35px;padding:5px;border:solid 1px #ACC0C6;display:inline-block;background-color:#FEFEFE}
input[type="date"] {height:16px;padding:5px 0;border:solid 1px #B3BBBF;display:inline-block;background-color:#FEFEFE}
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="file"]:disabled  {background-color:#dddddd}
input[type="date"]:disabled {background-color:#dddddd}

/* select  css*/
select{height:28px;padding:5px 15px 5px 5px;border:solid 1px #B3BBBF;display:inline-block;margin-top:0px;background-color:#FEFEFE}
select{
	background-image:url(https://www.auction1.co.kr/img/icon/sel_arr_3.png);
	background-position: 100% 50% ;
	background-repeat:no-repeat;
}
select:disabled{background-color:#dddddd}
select option{padding:5px 2px;}
select::-ms-expand{ display:none;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	select{ background-color:#FEFEFE;background-image:url(https://www.auction1.co.kr/img/icon/sel_arr_3.png); background-position: 100% 50% ; background-repeat:no-repeat; }
}


textarea{padding:5px;border:solid 1px #B3BBBF;background:#FEFEFE}
textarea:disabled {background-color:#dddddd}
/* textarea.bg{background:#FFFEFB} */

/* 오버,포커스  css*/
input::-webkit-input-placeholder { color:#95A9D7 }
input[type="text"]:focus, input[type="text"]:hover, input[type="password"]:focus, input[type="password"]:hover, input[type="file"]:hover, select:hover, select:focus, input[type="file"]:hover,textarea.bg:hover,textarea:hover{
 	border:solid 1px #2D5280;
 	background-color:#E7F0FE;
}
input[type="text"]:disabled:focus, input[type="text"]:disabled:hover, input[type="password"]:disabled:focus, input[type="password"]:disabled:hover, input[type="file"]:disabled:hover, select:disabled:hover, select:disabled:focus, input[type="file"]:disabled:hover,textarea.bg:disabled:hover,textarea:disabled:hover{
 	background-color:#dddddd;
}

input:-ms-input-placeholder { color:#bbbbbb } 
input::placeholder { color:#bbbbbb }


textarea.readonly {background-color:#f0f0f0}
textarea.readonly:hover{
	background-color:#f0f0f0
}