name: Deploy to Google Apps Script

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Create clasprc.json
        env:
          CLASP_SETTING: ${{ secrets.CLASP_SETTING }}
        run: |
          mkdir -p ~/.clasp
          # Decode the Base64 secret into the home directory
          echo "$CLASP_SETTING" | base64 --decode > ~/.clasprc.json

      - name: Deploy to GAS
        run: |
          echo "Starting deployment..."
          npx @google/clasp push --force
