name: Deploy to Google Apps Script

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Create clasprc.json
        env:
          CLASP_SETTING: ${{ secrets.CLASP_SETTING }}
        run: node -e "require('fs').writeFileSync(require('os').homedir() + '/.clasprc.json', process.env.CLASP_SETTING)"

      - name: Deploy to GAS
        run: npx @google/clasp push --force
